//Globals Imports
@import '../scss/normalize';
@import '../scss/variables';
@import '../scss/mixins';
@import '../scss/typography';
@import '../scss/forms';

.App {
  width:94%;
  margin:auto;
  @include responsive(tablet){
    width:80%;
  }
}

main {
  display: flex;
  flex-wrap: wrap;
}

section {
  display:block;
  width:100%;
  @include responsive(tablet){
    flex:2;
  }
}

aside {
  display:block;
  width:100%;
  @include responsive(tablet){
    flex:1;
  }
}

.img-responsive {
  display: block;
  width:100%;
  height:auto;
}

.center {
  text-align: center;
}

//Component Imports
//Use the containing element className as a wrapper with nesting
//Mobile first, then use the mixins.scss responsive

