//Globals Imports
@import '../scss/normalize';
@import '../scss/variables';
@import '../scss/mixins';
@import '../scss/typography';
@import '../scss/forms';

//Navigation Styles-->>
a.menu-link {
  float: right; //right based
  display: block;
  padding: 1em;
  text-decoration:none;
  color:$primaryText;
  &:hover,
  &:focus {
    color:$primaryColor;
  }
  &:active {
    background-color:$accentColor;
    color:$white;
  }
}

.wrap {
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  &.active {
    right: 16em; //right based
  }
}


//Component Imports
//Use the containing element className as a wrapper with nesting
//Mobile first, then use the mixins.scss responsive

@import '../components/Nav/Nav';
@import '../components/Main/Main';
@import '../components/Footer/Footer';

